.Login {
    height: 100%;
}

.login-container {
    padding-top: 10%;
}

.login-box {
    border-radius: 2px;
    padding: 3em;
    background-color: rgba(0, 0, 0, .5);
    width: auto;
    margin: 0 40%;
}

.login-button {
    padding: 10px;
}

.login-button > button:hover {
    cursor: pointer;
}

.login-title {
    padding: 0px;
    color: #E8E8E8;
}

.login-title > h2 {
    margin-top: 0px;
    margin-bottom: 45px;
}